.container {
  padding-top: 20px;
}

.addpaddingforjump {
    padding-top: 50px;
}

#navleftside li {
  float: left;
  padding-left: 10px;
}

#navrightside li {
  float: right;
  padding-right: 10px;
}

.navlinks li {
  margin: 3px;
}



/* footer stuff stolen completely off internet*/

html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
 .content {
    flex: 1 0 auto; 
  }
  .footer {
    flex-shrink: 0;
  }

  .page-footer{
      border: 2px solid black;
  }