body {
  background-image: url("../images/white.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.container {
  /* background-color: rgba(255, 255, 255, 0.85); */
  padding: 10px;
}

.pic {
  float: left;
  margin-right: 10px;
}

.navbar {
  background-color: rgb(59, 85, 106);
  /* top of the picture color */
}

#introimage {
  width: 100%;
}

.container {
  padding-top: 20px;
}

#resumeimage {
  width: 100%;
}
.page-footer {
  margin: auto;
}

.addpaddingforjump {
  padding-top: 50px;
}

#copyright p {
  text-align: center;
}

#navleftside li {
  float: left;
  padding-left: 10px;
}

#navrightside li {
  float: right;
  padding-right: 10px;
}

.navlinks li {
  margin: 3px;
}

html,
body {
  height: 100%;
}

.introimage {
  background-image: url("../images/placeholder.png");
  background-color: rgba(255, 255, 255, 0.85);
  min-height: 100%;
  /* min-width: 100%; */
  color: white;
  position: relative;
  background-repeat: no-repeat;
  background-position: cover; 

}

.asdasd {
  position: absolute;
  margin: auto;
  bottom: 10;
  color: white;
}
.asdasd {
  position: absolute;
  margin: auto;
  bottom: 200;
}

body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
